<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="alert alert-danger mt-2" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p><%= err.message %></p>
    <hr>
    <a href="/" class="btn btn-primary">Go to Home</a>
  </div>
</div>